@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Pirata+One&display=swap');
/* Nombre de las font family:
'Arimo'
'Pirata One'
'Bebas Neue'
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70vh; /* VH: Vertical height se ajusta al navegador*/
    position: relative;
    overflow: hidden;
}

nav {
    background-color: rgb(32, 34, 41);
    padding: 12px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* ESTILOS PARA EL NAVBAR no moverle nada ya quedó chilo */

.contenedor-menu {
    z-index: 10;
    position: relative;
    display: inline-block;
}

.boton-menu {
    font-family: 'Arimo', sans-serif;
    background-color: transparent;
    color: white;
    border: none;
    border-width: 1px;
    padding: 10px 60px;
    cursor: pointer; /*Cambia el cursor a el dedito xd*/
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.boton-menu:hover {
    font-weight: 900;
    background-color: aliceblue;
    color: black;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.lista-menu {
    z-index: 11;
    font-family: 'Arimo', sans-serif;
    display: none;
    position: absolute;
    background-color: rgb(32, 34, 41);
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.lista-menu li {
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.lista-menu li:hover {
    transform: scale(1.1);
    background-color: aliceblue;
    color: black;
    font-weight:900;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

/* HEADER IMGS ETC*/

header img.mixquiahuala-header {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover; /*  recorta */
    filter: brightness(0.5);
}

header .mixquiahuala-texto {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Pirata One', sans-serif;
    font-size: 6vw; /* responsivo al ancho por si hace zoom o menos */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 55px;
}

p {
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
}

.introduccion {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.introduccion p {
    width: 65%;
    line-height: 1.6em;
}

.introduccion img {
    width: 30%;
    padding: 10px;
    object-fit: cover;
}